[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/niteshacc
[access "refs/for/refs/*"]
	read = group user/niteshacc
	push = group user/niteshacc
	label-Code-Review = -2..+2 group user/niteshacc
	label-Verified = -1..+1 group user/niteshacc
	rebase = group user/niteshacc
	removeReviewer = group user/niteshacc
	submit = group user/niteshacc
[access "refs/heads/*"]
	read = group user/niteshacc
	create = group user/niteshacc
	push = +force group user/niteshacc
	pushMerge = group user/niteshacc
[access "refs/tags/*"]
	push = +force group user/niteshacc
	pushTag = group user/niteshacc
	pushSignedTag = group user/niteshacc
